html, body {
  width: 100%;
}
nav {
  width: 100%;
  @media screen and (min-width: 992px){
      h1{
          position: absolute;
      }
  }
  #navbarNav {
    ul {
      justify-content: center;
      width: 100%;
    }
  }
}
h2{
    text-align: center;
    margin: 2rem;
}
h5{
    display: flex;
    justify-content: space-between;
}
#list-tab{
    text-align: center;
}
.list-group{
    flex-direction: row;
}
.list-group, .tab-content, .input-group{
    @media screen and (min-width: 600px){
        width: 80%;
    }
    width: 90%;
    margin: .5rem auto;
    .list-group-item{
        border-radius: .2rem !important;
    }
}
form {
    width: 80%;
    margin: auto;
    input, select {
        margin-bottom: 0.5rem;
    }
}
